server {
    listen 80;
    server_name {{ ngnix_noggin_server_name }};
{% if nginx_noggin_enable_tls == True %}
    # Redirect all HTTP requests to HTTPS with a 301 Moved Permanently response.
    return 301 https://{{ ngnix_noggin_server_name }}$request_uri;
}

server {
    listen 443 ssl;

    server_name {{ ngnix_noggin_server_name }};

    #SSL certificate
    ssl_certificate {{ noggin_cert_dir }}/{{ noggin_cert_name }};
    ssl_certificate_key {{noggin_private_key_dir }}/{{ noggin_private_key_name }};
{% endif %}

    access_log  /var/log/nginx/noggin.access.log;
    error_log  /var/log/nginx/noggin.error.log;


    location @noggin {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://127.0.0.1:8000;
    }

    location / {
       try_files $uri @noggin;
    }

}
