# {{ ansible_managed }}
# Mattermost runtime env. MM_* variables override config.json keys at startup.
# Reference: https://docs.mattermost.com/configure/environment-variables.html

MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=postgres://{{ mattermost_db_user }}:{{ mattermost_db_password }}@{{ mattermost_db_host }}:{{ mattermost_db_port }}/{{ mattermost_db_name }}?sslmode=disable&connect_timeout=10
MM_SERVICESETTINGS_SITEURL={{ mattermost_site_url }}
{% if mattermost_support_email %}
MM_SUPPORTSETTINGS_SUPPORTEMAIL={{ mattermost_support_email }}
{% endif %}
