# {{ ansible_managed }}

{{ inventory_hostname }} {

    root * {{ mirror_path }}

    file_server {
        browse
    }

    log {
        output file /var/log/caddy/{{ inventory_hostname }}.access.log {
            roll_keep_for 30d
        }
    }

    {% if mirror_custom_ssl %}tls /etc/caddy/{{ inventory_hostname }}.fullchain.pem /etc/caddy/{{ inventory_hostname}}.privkey.pem{% endif %}

}

{% if mirror_enable_http %}
http://{{ inventory_hostname }} {

    root * {{ mirror_path }}

    file_server {
        browse
    }

    log {
        output file /var/log/caddy/{{ inventory_hostname }}-http.access.log {
            roll_keep_for 30d
        }
    }

}
{% endif %}
