# {{ ansible_managed }}
# Virtual host: {{ vhost.name }}

{% macro server_body() %}
    root {{ vhost.root }};
{% if vhost.autoindex | default(false) %}
    autoindex on;
{% endif %}

{% for redirect in vhost.redirects | default([]) %}
{% if redirect.raw is defined %}
{{ redirect.raw }}
{% elif redirect.target_path is defined %}
    location ~ ^{{ redirect.location }}(/.*)?$ {
        rewrite ^{{ redirect.location }}(/.*)?$ {{ redirect.target_path }}$1 permanent;
    }
{% elif redirect.strip_prefix is defined %}
    location ^~ {{ redirect.location }} {
        rewrite ^{{ redirect.strip_prefix }}(/.*) $scheme://{{ redirect.target_host }}$1 {{ redirect.type | default('permanent') }};
    }
{% else %}
    location ^~ {{ redirect.location }} {
        return 301 $scheme://{{ redirect.target_host }}$request_uri;
    }
{% endif %}

{% endfor %}
{% include 'nginx/expires-' ~ (vhost.expires | default('standard')) ~ '.conf.j2' %}

    location / {
        try_files $uri $uri/ =404;
    }

    access_log /var/log/nginx/{{ vhost.name }}.access.log;
{% endmacro %}
{% if vhost.enable_http | default(false) %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ vhost.name }};

    location /.well-known/acme-challenge/ {
        root /var/lib/letsencrypt;
    }

{{ server_body() }}
}
{% else %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ vhost.name }};

    location /.well-known/acme-challenge/ {
        root /var/lib/letsencrypt;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
{% endif %}

server {
{% if ansible_facts.packages['nginx'][0]['version'] is version('1.25.1', '>=') %}
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
{% else %}
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
{% endif %}
    server_name {{ vhost.name }};

    ssl_certificate {{ _ssl_cert_path }}/fullchain.pem;
    ssl_certificate_key {{ _ssl_cert_path }}/privkey.pem;

{{ server_body() }}
}
