# {{ ansible_managed }}
# Virtual host: {{ vhost.name }}

{% macro server_body() %}
    root {{ vhost.root }};
{% if vhost.autoindex | default(false) %}
    autoindex on;
{% endif %}

{% for redirect in vhost.redirects | default([]) %}
    location ^~ {{ redirect.location }} {
{% if redirect.strip_prefix is defined %}
        rewrite ^{{ redirect.strip_prefix }}(/.*) $scheme://{{ redirect.target_host }}$1 {{ redirect.type | default('permanent') }};
{% else %}
        return 301 $scheme://{{ redirect.target_host }}$request_uri;
{% endif %}
    }

{% endfor %}
{% include 'nginx/expires-' ~ (vhost.expires | default('standard')) ~ '.conf.j2' %}

    location / {
        try_files $uri $uri/ =404;
    }

    access_log /var/log/nginx/{{ vhost.name }}.access.log;
{% endmacro %}
{% if vhost.enable_http | default(false) %}
server {
    listen 80;
    server_name {{ vhost.name }};

    location /.well-known/acme-challenge/ {
        root /var/lib/letsencrypt;
    }

{{ server_body() }}
}
{% else %}
server {
    listen 80;
    server_name {{ vhost.name }};

    location /.well-known/acme-challenge/ {
        root /var/lib/letsencrypt;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
{% endif %}

server {
    listen 443 ssl http2;
    server_name {{ vhost.name }};

    ssl_certificate {{ _ssl_cert_path }}/fullchain.pem;
    ssl_certificate_key {{ _ssl_cert_path }}/privkey.pem;

{{ server_body() }}
}
